[submodule "platform_frameworks_libs_systemui"]
	path = platform_frameworks_libs_systemui
	url = https://codeup.aliyun.com/6023e98a841cc46b7c49b7f7/Android/launcher/platform_frameworks_libs_systemui.git
